# Project root
bin/
.env
*.log

# Backend
backend/bin/
backend/static/
backend/uptimer
backend/uptimer.test

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.vscode/

# IDEs & System
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Docker
pgdata/
